@mixin flex($d, $fd, $jc, $ai) {
  display: $d;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
@mixin font($fz, $lh, $ls, $c, $fw) {
  font-size: clamp($fz - 15px, 1.5vw, $fz + 22px);
  line-height: clamp($lh - 15px, 2vw, $lh + 22px);
  letter-spacing: $ls;
  color: $c;
  font-weight: $fw;
}
